Below are the requirements for executing the Amazon Price Tracker Python program.

BeautifulSoup4
Beautiful Soup is a library that makes it easy to scrape information from web pages.

smtplib
The smtplib module defines an SMTP client session object that can be used to send mail.

requests
Requests allows you to send HTTP requests extremely easily. 

time
This module provides various time-related functions.