# Michelin_Restaurants_Scraper/micheline_resturents_scraper.py: 3
Unidecode == 1.1.1

# Michelin_Restaurants_Scraper/micheline_resturents_scraper.py: 1
beautifulsoup4 == 4.8.2

# Michelin_Restaurants_Scraper/micheline_resturents_scraper.py: 2
requests == 2.22.0
